
.CardsItems{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: 30px;
    height: 650px;
    
    align-items: center;
    background-color: #5dc1b9;
    border-radius: 20px;
    flex-direction: column;
}
.title{
    padding: 0 20px;
    margin-bottom: 20px;
    text-align: center;
}

.description{
    text-align: center;
    padding: 15px 20px;
}

.price{
    text-align: center;
    padding: 10px;
}

.id{
    padding: 5px;
}

img{
    height: 110px;
    width: 150px;
}